<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cписок предметов</title>
</head>
<body>
<div>
  <h2>Cписок классов</h2>

  <div th:each="class:${classList}">
    <a th:href="@{/class/{id}(id=${class.getId()})}" th:text="${class.getNumber()}"></a>
  </div>
  <!--    <form th:method="POST" th:action="@{/subject/{id}(id=${subject.getId()})}">-->
  <!--        <label for="subject">Выберите предмет</label>-->
  <!--        <select th:object="${subject}" th:field="*{id}" id="subject">-->
  <!--            <option th:each="subject: ${subjects}" th:value="${subject.getId()}" th:text="${subject.getTitle()}">-->
  <!--            </option>-->
  <!--        </select>-->
  <!--        <input type="submit" value="Выбрать"/>-->
  <!--    </form>-->
</div>
</body>
</html>v