<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>
<form th:method="POST" th:action="@{/subject}" th:object="${newSubject}">
    <label for="titled">Title of subject:</label>
    <input name="titled" type="text" th:field="*{titled}"id="titled"/>

    <br>
    <label for="mark">Mark:</label>
    <input name= "mark" type= "text" th:field="*{mark}"id="mark"/>
    <br>
    <input type="submit" value="CREATE!"/>
</form>
</body>
</html>